<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/details.css">
</head>

<body>
    <div class="container">
         <%- include('header')%>  <!-- 抽离html代码 -->
            <div class="blog-box">
                <h3>文章标题</h3>
                <span class="post-time">2011-11-12</span>
                <div class="content">内容。。。。。蔡少芬黑发刺蛾减肥回复二阶差分和无符号</div>
                <div class="comment-title">评论</div>
                <div class="comment-box">
                    <p>评论内容：ddddddddddddddd</p>
                    <span class="post-time">2011-11-12</span>
                </div>
            </div>

    </div>
</body>

</html>