<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发表</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/postBlog.css">
</head>

<body>
    <div class="container">
        <%- include('header')%>

            <div class="post-form">
                <h3>发表文章</h3>
                <form action="/post" method="post">
                    <p>
                        标题 ： <input type="text" name="title" id="title">
                    </p>
                    <p>
                        内容 ： <input type="text" name="content" id="content">
                    </p>
                    <p>
                        <button type="submit" id="btn">发表</button>
                    </p>
                </form>
            </div>
    </div>

</body>

</html>